body {
    background-color: #F2F7FF;
}

.bg-dar {
    background-color: #0A0E31;
}

.bluedark {
    background-color: #033c97;
}

.fontcusblue {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5169F7;
}

.fontcusgrey {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c4c4c4;
}