body {
    background-color: #F2F7FF;
}

.bg-dar {
    background-color: #0A0E31;
}

.fontcusblue {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #5169F7;
}

.fontcusgrey {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #9AADC9;
}